chalice==1.11.0
playerstars_mail
playerstars_domain
playerstars_adapters
playerstars_graphql_adapters
playerstars-aws-scheduled-task-adapter==0.1.0
playerstars_interactors
playerstars_aws_lambda
chalice_support
python-decouple==3.1
defusedxml==0.6.0
requests==2.22.0
